main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 10px;
}

img{
    width: 450px;
    height: 300px;
    border-radius: 8px;
}

.citypic{
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
    text-align: center;
}

.karta{
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
    text-align: center;
}

.about{
    grid-column: 1/3;
    grid-row: 2;
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

footer{
    width: 100%;
    height: 60px;
    background-color: black;
    opacity: .8;
    z-index: 9999;
}